:root {
    color: rgba(255, 255, 255, 0.87);
    background-image: linear-gradient(to right, #414141, #000000);
    text-rendering: optimizeLegibility;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* The switch - the box around the slider */
.brightness-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.brightness-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#metaj-logo {
    color: #000;
    font-size: 200px;
    font-weight: lighter;
    margin-bottom: 30px;

    /*transition */
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

/** comment */
#metaj-logo:hover {
    color: #fff;
    text-shadow: 0 0 100px #666,
    0 0 100px #666,
    0 0 100px #666,
    0 0 100px #666,
    0 0 100px #666,
    0 0 50px #000,
    0 0 50px #000,
    0 0 50px #000,
    0 0 50px #000;
}

/** comment **/
#meta-table {
    color: #fff;
    padding-top: 40px;
}
